<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <% if current_user %>
          <a href="#" class="dropdown-toggle brand" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, <%= current_user.name %> <span class="caret"></span></a>
        <% else %>
          <a href="#" class="dropdown-toggle brand" data-toggle="dropdown" role="button" aria-expanded="false">Support Hero<span class="caret"></span></a>
        <% end %>
          <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Home", root_path %></li>
            <% if current_user_is_hero %>
              <li class="divider"></li>
              <li><%= link_to "View My Shifts", user_path(current_user) %></li>
            <% elsif current_user_is_admin %>
              <li><%= link_to "Modify Schedule", new_shift_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li class="active"><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li class="active"><%= link_to "Login", login_path %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
